@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Ajusta según necesites */
    padding-right: 1rem; /* Ajusta según necesites */
  }
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .perspective {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */

:root {
  --text-01: #45413E;
  --light-01: #F9F9F9;
  --light-02: #FFFFFF;
  --brand-01: #DB7F67;
  --brand-02: #F4CFC6;
  --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  --hover-timing: all 0.2s ease;
  --nav-card-size: 240px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--light-01);
  width: 100vw;
  overflow-x: hidden;
}

.hi-1 {
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
}

.hi-2 {
  background-image: url("https://images.unsplash.com/photo-1517057011470-8f36d636e6ca");
}

.hi-3 {
  background-image: url("https://images.unsplash.com/flagged/photo-1552035791-b3cc1632e933");
}

.hi-4 {
  background-image: url("https://images.unsplash.com/photo-1574700273608-7962d3602a9f");
}

.hi-5 {
  background-image: url("https://images.unsplash.com/photo-1605045544284-d13c6d6a60a6");
}

/* Estilos adicionales que ya tenías en tu CSS */
/* Estilos para la barra de desplazamiento personalizada */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Fondo del track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color del pulgar */
  border-radius: 3px; /* Redondear esquinas */
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Firefox */
}

.fixed.bottom-4.right-4  {
  z-index: 100; /* Asegurarse de que el z-index sea suficientemente alto */
}

.chatcomponet10{
  z-index: 101
}

@keyframes silver-aura {
  0%, 100% { box-shadow: 0 0 5px 2px rgba(192, 192, 192, 0.3); }
  50% { box-shadow: 0 0 15px 5px rgba(192, 192, 192, 0.5); }
}

@keyframes gold-aura {
  0%, 100% { box-shadow: 0 0 5px 2px rgba(255, 215, 0, 0.3); }
  50% { box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.5); }
}

.ticket-aura-silver {
  animation: silver-aura 3s infinite;
}

.ticket-aura-gold {
  animation: gold-aura 3s infinite;
}